/* -------------------------------- */
/* ----- BASIC SETUPS ----- */
/* -------------------------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    line-height: 1.6;
    color: #3e3e3e;
    font-weight: 400;
}

a {
    outline: none;
}

/* -------------------------------- */
/* ----- LANGUAGE SELECT ----- */
/* -------------------------------- */
/* Layout */
.language-row {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.language-column {
    flex: 33%;
    padding: 2rem;
}

.indexpage {
    position: relative;
}

.language-container {
    padding: 10px 40px;
    padding-top: 20px;
    animation: moveInBottom 1s ease-out 1.5s backwards;
}

/* Image */
.language-container img {
    width: 100px;
    transition: all 0.3s;

}

.language-container img:hover,
.language-container img:active {
    transform: scale(1.1);

}

/* Links and texts */

.language-container p {
    text-align: center;
    color: #515150;
    padding-top: 15px;
    text-transform: uppercase;
    font-size: 0.8rem;
}



.language {
    position: absolute;
    animation: moveInLang 1s ease-out 0.5s;
    animation-fill-mode: backwards;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #373737;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 7px;
    word-spacing: 5px;
    font-size: 3rem;
    padding-bottom: 30px;

}




/* -------------------------------- */
/* ----- HEADER ----- */
/* -------------------------------- */

/* Container */
.header-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

/* Background image */
.heading {
    background: #ffc048;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

/* Header */
h1 {
    font-size: 10rem;
    text-transform: uppercase;
    color: #373737;
    letter-spacing: 35px;
    font-weight: 700;
    animation-name: moveInTop;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 1s;
    animation-fill-mode: backwards;

}

/* Button */
.btn:link,
.btn:visited {
    text-decoration: none;
    display: inline-block;
    padding: 15px 40px;
    transition: all 0.3s;
    outline: none;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0px 10px 20px rgba(91, 91, 91, 0.4);

}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0px 5px 10px rgba(91, 91, 91, 0.4);
}

.btn-homepage {
    background-color: #dadada;
    color: #292929;
    border-radius: 200px;
    text-transform: uppercase;
}

.btn-ani {
    animation: moveInBottom 1s ease-out 3.25s;
    animation-fill-mode: backwards;
}


/* Animation */
/* Language Animation */

@keyframes moveInLang {
    0% {
        opacity: 0;
        -webkit-transform: translate(-50%, -80%);
        -moz-transform: translate(-50%, -80%);
        -ms-transform: translate(-50%, -80%);
        -o-transform: translate(-50%, -80%);
        transform: translate(-50%, -80%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

/* Header Animation */

/* Button Animation */


@keyframes moveInTop {
    0% {
        -webkit-transform: translateY(-100px);
        -moz-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
        -o-transform: translateY(-100px);
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes moveInBottom {
    0% {
        -webkit-transform: translateY(100px);
        -moz-transform: translateY(100px);
        -ms-transform: translateY(100px);
        -o-transform: translateY(100px);
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}




/* Respondsive */



/* Iphone */

@media screen and (max-width: 600px) {

    /* Language select */
    .language-column {
        flex: 100%;
        padding: 1rem;
    }

    .language-row {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        flex-direction: column;

    }

    .language-container {
        padding: 0px 5px;
        max-width: 100%;
    }

    .language-container p {
        font-size: 0.6rem;
        display: inline-block;
        padding-left: 1rem;
    }

    .language-container img {
        width: 60px;
        vertical-align: middle;
    }

    .indexpage {
        position: relative;
    }

    .language {
        font-size: 2rem;
        top: 25%;
    }

    /* Welcome page */
    h1 {
        font-size: 7rem;
        text-align: center;
        letter-spacing: 1px;
    }

    .btn:hover,
    .btn:active {
        transform: translateY(3px);
        box-shadow: 0px 5px 10px rgba(91, 91, 91, 0.4);
    }
}

/* Portrait Tablets, large phones */
@media screen and (min-width: 600px) and (max-width: 1024px) {

    /* Language select */
    .language-column {
        flex: 33%;
        padding: 1rem;
    }

    .language-row {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    .language-container {
        padding: 0px 5px;
        max-width: 100%;
    }

    .language-container p {
        font-size: 0.7rem;
    }

    .language-container img {
        width: 80px;

    }

    .indexpage {
        position: relative;
    }

    /* Welcome page */


    h1 {
        font-size: 10rem;
        text-align: center;
        letter-spacing: 15px;
    }


    .btn:hover,
    .btn:active {
        transform: translateY(5px);
        box-shadow: 0px 5px 10px rgba(91, 91, 91, 0.4);

    }

}

/* Landscape Phones */


@media screen and (min-width: 375px) and (max-width: 812px) and (orientation: landscape) {

    /* Language select */

    .indexpage {
        position: relative;
    }

    .language-column {
        flex: 33%;
        padding: 1rem;
    }

    .language-row {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    .language-container {
        padding: 0px 5px;
        max-width: 100%;
    }

    .language-container p {
        font-size: 0.7rem;
        white-space: nowrap;
    }

    .language-container img {
        width: 60px;
    }

    .language {
        font-size: 2rem;
        left: 55%;
    }

    /* Welcome page */
    .header-container {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

}

/* Landscape Tablets */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    h1 {
        font-size: 12rem;
        text-align: center;
        letter-spacing: 20px;
    }


    .btn:hover,
    .btn:active {
        transform: translateY(5px);
        box-shadow: 0px 5px 10px rgba(91, 91, 91, 0.4);

    }
}